body {
  background-color: #f7ecde;


}

a {
    text-decoration: none;
}

ul {
  list-style-type: none; 
  padding: 0;           
  margin: 0;        
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  z-index: 999;
}

h1::after {
    content: "";
    width: 100%;
    height: 20px;
    background-color: #fec260;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: -1;
    transition: height 0.3s ease; 
  }
  
  h1:hover::after {
    height: 40px; 
  }

h2 {
  font-family: "Righteous", cursive;
  font-size: 25px;
  background-image: linear-gradient(to right, #3ca55c 30%, #b5ac49 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form label {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  display: block;
  margin-bottom: 5px;

  font-family: "PT Sans Caption", sans-serif;

 
}

.dots {
  overflow: hidden;
}

.dots::before {
  content: ".............................................................................................................................................................................................................................................................................................................................................................................................";
  display: block;
  width: 100%;
  text-align: center;
}

form input {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #e2e0dc;
  width: 99%;
}


form button {
  background-color: #d1512d;
  color: #ffffff;
  padding: 7px 47px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  transition: all 0.3s ease;
  font-family: "PT Sans Caption", sans-serif;
}

form button:hover {
  background: #bb4120;
}


table {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F8F9FA;
    
 
}

tr {
    border-bottom: 1px solid #d6d7d9;
}

th, td {
    padding: 8px; 
  }


.button1 , .button2 {
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.button1 {
    background-color: #9EB23B;
}

.button2 {
    background-color: #EB1D36;
}



form input:focus {
  border: 1px solid #b2b2b2 !important; 
  
  outline: none; 
}

form input:focus.correct {
  box-shadow: 0 0 15px 10px rgba(0, 255, 0, 0.7) !important; 
  border: 1px solid #b2afa8 !important; 
}

form input.incorrect {
  box-shadow: 0 0 15px 10px rgba(255, 0, 0, 0.7) !important; 
  border: 1px solid #b2afa8 !important; 
}



.input-container {
  position: relative;
}

.input-container input {
  padding-right: 30px; 
}

.input-container span {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  pointer-events: none; 
}


.modal-dialog {
  display: flex !important;
  justify-content: center !important; 
  align-items: center !important; 
  max-width: 500px; 
  margin: 0 auto; 
  height: 100vh; 
}



.modal-content {
  padding: 20px;
  font-size: 18px;
  font-family: "PT Sans Caption", sans-serif;
  
  max-height: 80vh; 
  overflow-y: auto; 
}


.red-circle {
  color: #F15F5D;
  margin-right: 3px;
  font-size: 21px;
}

.green-circle {
  color: #4DB748;
  margin-right: 3px;
  font-size: 21px;
}

.orange-circle {
  color: #FEBE2E;
  margin-right: 3px;
  font-size: 21px;
}



.arrow-icon {
  color: #DC3545; 
  font-size: 12px; 
  border: 2px solid #DC3545; 
  border-radius: 50%; 
  padding: 3px; 
  
  width: 20px; 
  height: 20px; 
}


.exc-icon {
  color: #DC3545; 
  font-size: 12px; 
  border: 2px solid #DC3545; 
  border-radius: 50%; 
  padding: 3px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 20px; 
  height: 20px; 
}


.check-icon {

  color: #198754; 
  font-size: 20px; 

  
  
  display: flex; 
  justify-content: center; 
  align-items: center;
 

}


